body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
}

/*header */

.f1-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: repeating-linear-gradient(45deg,  #111 0,  #111 20px,  #1a1a1a 20px,  #1a1a1a 40px);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 30px;
}

.f1-75 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
  gap: 25px;
}

.nav-menu li {
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.nav-menu a:hover {
  color: red;
}
/* asset pilotos */
.contenedor {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.tarjeta-piloto {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #e10600;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}

.tarjeta-piloto:hover {
  transform: scale(1.02);
}

.imagen-piloto {
  flex: 1 1 300px;
  max-width: 300px;
  overflow: hidden;
}

.imagen-piloto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-piloto {
  flex: 2 1 400px;
  padding: 20px;
}

.nombre-numero {
  display: flex;
  align-items: center;
  gap: 15px;
}

.numero {
  font-size: 36px;
  font-weight: bold;
  color: #e10600;
}

.nombre-numero h2 {
  font-size: 28px;
  color: white;
}

.pais-equipo {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bandera {
  width: 30px;
  height: 20px;
  border: 1px solid #fff;
}

.descripcion {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  text-align: justify;  
}
/* estadisticas */
.estadisticas-contenedor {
  display: flex;
  gap: 20px;
  justify-content:center;
  margin-top: 30px;
  
}

.estadisticas {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #e10600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1060044;
}

.estadisticas h3 {
  font-size: 24px;
  color: #e10600;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.estadisticas table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.estadisticas th,
.estadisticas td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.estadisticas th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}

.estadisticas td {
  color: #ccc;
}

.estadisticas td span {
  font-weight: bold;
  color: #e10600;
}
/* highlights */
.momentos-destacados {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #e10600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1060044;
}

.momentos-destacados h3 {
  font-size: 24px;
  color: #e10600;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.momentos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.momento {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #e10600;
  transition: transform 0.3s, background-color 0.3s;
}

.momento:hover {
  transform: translateY(-5px);
  background-color: #333;
}

.momento h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.momento p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}