@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: #15151e;
}

/*header */

.f1-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: repeating-linear-gradient(45deg,  #111 0,  #111 20px,  #1a1a1a 20px,  #1a1a1a 40px);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 30px;
}

.f1-75 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
  gap: 25px;
}

.nav-menu li {
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.nav-menu a:hover {
  color: red;
}
/* asset pilotos */
.contenedor {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.tarjeta-piloto {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #e10600;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}

.tarjeta-piloto:hover {
  transform: scale(1.02);
}

.imagen-piloto {
  flex: 1 1 300px;
  max-width: 300px;
  overflow: hidden;
}

.imagen-piloto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-piloto {
  flex: 2 1 400px;
  padding: 20px;
}

.nombre-numero {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* numeroscolorequipo */
.numero-redbull {
  font-size: 36px;
  font-weight: bold;
  color: #e10600;
}
.numero-mclaren {
  font-size: 36px;
  font-weight: bold;
  color: #ff8700;
}
.numero-mercedes {
  font-size: 36px;
  font-weight: bold;
  color: #00d2be;
}
.numero-ferrari {
  font-size: 36px;
  font-weight: bold;
  color: #dc0000;
}
.numero-alpine {
  font-size: 36px;
  font-weight: bold;
  color: #f200ff;
}
.numero-aston-martin {
  font-size: 36px;
  font-weight: bold;
  color: #006f62;
}
.numero-williams {
  font-size: 36px;
  font-weight: bold;
  color: #005aff;
}
.numero-sauber {
  font-size: 36px;
  font-weight: bold;
  color: #04ff00;
}
.numero-haas {
  font-size: 36px;
  font-weight: bold;
  color: #ff3838;
}
.numero-racing-bulls{
  font-size: 36px;
  font-weight: bold;
  color: #03368d;
}

.nombre-numero h2 {
  font-size: 28px;
  color: white;
}

.pais-equipo {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blanco-equipo{
  font-size: 20px;
  color: #fff;
  margin: 10px;
  font-weight: bold;
}

.bandera {
  width: 30px;
  height: 20px;
  border: 1px solid #fff;
}

.descripcion {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
  text-align: justify;  
}
/* estadisticas */
.estadisticas-contenedor {
  display: flex;
  gap: 20px;
  justify-content:center;
  margin-top: 30px;
  
}

.estadisticas {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #e10600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1060044;
}

.estadisticas h3 {
  font-size: 24px;
  color: #e10600;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.estadisticas table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.estadisticas th,
.estadisticas td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.estadisticas th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}

.estadisticas td {
  color: #ccc;
}

.estadisticas td span {
  font-weight: bold;
  color: #e10600;
}
/* highlights */
.momentos-destacados {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #e10600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1060044;
}

.momentos-destacados h3 {
  font-size: 24px;
  color: #e10600;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.momentos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.momento {
  flex: 1 1 30%; /* para que siempre sean 2 por fila 30%*/
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #e10600;
  transition: transform 0.3s, background-color 0.3s;
}

.momento:hover {
  transform: translateY(-5px);
  background-color: #333;
}

.momento h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.momento p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* Seccion Siguentes carreras */

.next-race-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 2px solid #14141d;
}

.next-race-bar .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.next-race-bar .label {
  font-weight: 300;
  color: #ccc;
}

.next-race-bar .country {
  font-weight: bold;
  color: #fff;
}

.next-race-bar .date {
  background-color: #333;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.next-race-bar .right {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: right;
}

.time-info {
  line-height: 1.2;
}

.time-info .dot {
  color: #00ff88;
  margin-right: 4px;
}

.time-info .time {
  font-weight: bold;
  margin-left: 4px;
}

/* footer */
.f1-footer {
  background-color: #0d0d14;
  color: #fff;
  padding: 30px 20px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.footer-logo img {
  max-width: 100%;
  transform: scale(1);
  transform-origin: center;
  object-fit: contain;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;

}

.social-icons a img {
  height: 30px;
  margin-right: 10px;
}


.footer-copy {
  text-align: center;
  color: #ccc;
  font-size: 12px;
  margin-top: 20px;
}

/* Oculta el checkbox */
.sidebar-checkbox {
  display: none;
}

/* Estilo del botón hamburguesa */
.sidebar-icon {
  font-size: 26px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  position: fixed;
  top: 5px;
  right: 20px; 
  z-index: 1001;

}

/* Sidebar oculto inicialmente */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; 
  left: auto;
  height: 100%;
  width: 250px;
  background-color: #111;
  padding-top: 60px;
  transition: right 0.3s ease;
  z-index: 1000;
}


.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 15px 30px;
  border-bottom: 1px solid #333;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  color: #e10600;
}

/* Sidebar visible cuando el checkbox está checked */
.sidebar-checkbox:checked ~ .sidebar {
  right: 0;
  left: auto;
}

/* coloresporequipo */
/* Red Bull */
.tarjeta-piloto-redbull {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #0037ff;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-redbull {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #0037ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0013e144;
}

.estadisticas-redbull h3 {
  font-size: 24px;
  color: #0037ff;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.estadisticas-redbull table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.estadisticas-redbull th,
.estadisticas-redbull td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.estadisticas-redbull th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}

.estadisticas-redbull td {
  color: #ccc;
}

.estadisticas-redbull td span {
  font-weight: bold;
  color: #0037ff;
}
/* highlights */
.momentos-destacados-redbull {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #0037ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0013e144;
}

.momentos-destacados-redbull h3 {
  font-size: 24px;
  color: #0037ff;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.momento-redbull {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #0037ff;
  transition: transform 0.3s, background-color 0.3s;
}

.momento-redbull:hover {
  transform: translateY(-5px);
  background-color: #333;
}

.momento-redbull h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.momento-redbull p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-redbull img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* mclaren */
.tarjeta-piloto-mclaren {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #ff6600;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-mclaren {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #ff6600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1c70044;
}

.estadisticas-mclaren h3 {
  font-size: 24px;
  color: #ff6600;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.estadisticas-mclaren table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.estadisticas-mclaren th,
.estadisticas-mclaren td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.estadisticas-mclaren th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}

.estadisticas-mclaren td {
  color: #ccc;
}

.estadisticas-mclaren td span {
  font-weight: bold;
  color: #ff6600;
}
/* highlights */
.momentos-destacados-mclaren {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #ff6600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e1c70044;
}

.momentos-destacados-mclaren h3 {
  font-size: 24px;
  color: #ff6600;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.momento-mclaren {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #ff6600;
  transition: transform 0.3s, background-color 0.3s;
}

.momento-mclaren:hover {
  transform: translateY(-5px);
  background-color: #333;
}

.momento-mclaren h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}

.momento-mclaren p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-mclaren img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* mercedes */
.tarjeta-piloto-mercedes {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #00d2be;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-mercedes {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #00d2be;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00d2be44;
}
.estadisticas-mercedes h3 {
  font-size: 24px;
  color: #00d2be;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-mercedes table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-mercedes th,
.estadisticas-mercedes td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-mercedes th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-mercedes td {
  color: #ccc;
}
.estadisticas-mercedes td span {
  font-weight: bold;
  color: #00d2be;
}
/* highlights */
.momentos-destacados-mercedes {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #00d2be;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00d2be44;
}
.momentos-destacados-mercedes h3 {
  font-size: 24px;
  color: #00d2be;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-mercedes {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #00d2be;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-mercedes:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-mercedes h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-mercedes p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-mercedes img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* astonmartin */
.tarjeta-piloto-aston-martin {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #006f62;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-aston-martin {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #006f62;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #006f6244;
}
.estadisticas-aston-martin h3 {
  font-size: 24px;
  color: #006f62;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-aston-martin table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-aston-martin th,
.estadisticas-aston-martin td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}   
.estadisticas-aston-martin th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-aston-martin td {
  color: #ccc;
}
.estadisticas-aston-martin td span {
  font-weight: bold;
  color: #006f62;
} 
/* highlights */
.momentos-destacados-aston-martin {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #006f62;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #006f6244;
}
.momentos-destacados-aston-martin h3 {
  font-size: 24px;
  color: #006f62;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-aston-martin {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #006f62;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-aston-martin:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-aston-martin h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-aston-martin p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-aston-martin img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* Alpine */
.tarjeta-piloto-alpine {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #00a3e0;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-alpine {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #00a3e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #9900e044;
}
.estadisticas-alpine h3 {
  font-size: 24px;
  color: #00a3e0;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-alpine table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-alpine th,
.estadisticas-alpine td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-alpine th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-alpine td {
  color: #ccc;
}
.estadisticas-alpine td span {
  font-weight: bold;
  color: #00a3e0;
}
/* highlights */
.momentos-destacados-alpine {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #00a3e0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #9900e044;
}
.momentos-destacados-alpine h3 {
  font-size: 24px;
  color: #00a3e0;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-alpine {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #00a3e0;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-alpine:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-alpine h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-alpine p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-alpine img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* Williams */
.tarjeta-piloto-williams {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #005aff;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-williams {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #005aff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #005aff44;
}
.estadisticas-williams h3 {
  font-size: 24px;
  color: #005aff;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-williams table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-williams th,
.estadisticas-williams td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-williams th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-williams td {
  color: #ccc;
}
.estadisticas-williams td span {
  font-weight: bold;
  color: #005aff;
}
/* highlights */
.momentos-destacados-williams {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #005aff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #005aff44;
}
.momentos-destacados-williams h3 {
  font-size: 24px;
  color: #005aff;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-williams {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #005aff;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-williams:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-williams h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-williams p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-williams img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* Sauber */
.tarjeta-piloto-sauber {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #04ff00;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-sauber {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #04ff00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #04ff0044;
}
.estadisticas-sauber h3 {
  font-size: 24px;
  color: #04ff00;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-sauber table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-sauber th,
.estadisticas-sauber td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-sauber th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-sauber td {
  color: #ccc;
}
.estadisticas-sauber td span {
  font-weight: bold;
  color: #04ff00;
}
/* highlights */
.momentos-destacados-sauber {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #04ff00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #04ff0044;
}
.momentos-destacados-sauber h3 {
  font-size: 24px;
  color: #04ff00;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-sauber {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #04ff00;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-sauber:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-sauber h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-sauber p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-sauber img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* haas */
.tarjeta-piloto-haas {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #ff3838;
  box-shadow: 0 0 20px #00000088;
  transition: transform 0.3s;
}
.estadisticas-haas {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #ff3838;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff383844;
}
.estadisticas-haas h3 {
  font-size: 24px;
  color: #ff3838;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-haas table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-haas th,
.estadisticas-haas td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-haas th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-haas td {
  color: #ccc;
}
.estadisticas-haas td span {
  font-weight: bold;
  color: #ff3838;
}
/* highlights */
.momentos-destacados-haas {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #ff3838;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ff383844;
}
.momentos-destacados-haas h3 {
  font-size: 24px;
  color: #ff3838;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-haas {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #ff3838;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-haas:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-haas h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-haas p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-haas img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}
/* Racing Bulls */
.tarjeta-piloto-racing-bulls {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  border-left: 6px solid #0084ff;
  box-shadow: 0 0 20px #033a9288;
  transition: transform 0.3s;
}
.estadisticas-racing-bulls {
  margin-top: 30px;
  background-color: #1a1a1a;
  border-left: 4px solid #0084ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #033a9288;
}
.estadisticas-racing-bulls h3 {
  font-size: 24px;
  color: #0084ff;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.estadisticas-racing-bulls table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}
.estadisticas-racing-bulls th,
.estadisticas-racing-bulls td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.estadisticas-racing-bulls th {
  color: #fff;
  font-weight: bold;
  width: 40%;
}
.estadisticas-racing-bulls td {
  color: #ccc;
}
.estadisticas-racing-bulls td span {
  font-weight: bold;
  color: #0084ff;
}
/* highlights */
.momentos-destacados-racing-bulls {
  margin-top: 40px;
  background-color: #1a1a1a;
  border-left: 4px solid #0084ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #033a9288;
}
.momentos-destacados-racing-bulls h3 {
  font-size: 24px;
  color: #0084ff;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.momento-racing-bulls {
  flex: 1 1 30%;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  border-left: 3px solid #0084ff;
  transition: transform 0.3s, background-color 0.3s;
}
.momento-racing-bulls:hover {
  transform: translateY(-5px);
  background-color: #333;
}
.momento-racing-bulls h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.momento-racing-bulls p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.5;
}
.momento-racing-bulls img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
}


/* Barra de Volver */
.barra-volver {
  background-color: #1c1c1c;
  padding: 10px 20px;
  border-left: 4px solid #e10600;
  box-shadow: 0 2px 5px #00000044;
  margin-bottom: 20px;
}

.boton-volver {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.2s;
}

.boton-volver:hover {
  color: #e10600;
}

/*📱*/

@media screen and (max-width: 420px) {
  /* Header */
  .f1-header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-menu ul {
    flex-direction: column;
    margin-left: 0;
    gap: 10px;
    padding-left: 0;
  }

  /* Barra siguiente carrera */
  .next-race-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .next-race-bar .left,
  .next-race-bar .right {
    flex-direction: column;
    align-items: flex-start;
  }

  .barra-volver {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  /* Contenedor general */
  .contenedor {
    padding: 10px;
    width: 100%;
  }

  /* Tarjeta piloto */
  .tarjeta-piloto,
  .tarjeta-piloto-redbull,
  .tarjeta-piloto-mclaren,
  .tarjeta-piloto-mercedes,
  .tarjeta-piloto-aston-martin,
  .tarjeta-piloto-alpine,
  .tarjeta-piloto-williams,
  .tarjeta-piloto-sauber,
  .tarjeta-piloto-haas,
  .tarjeta-piloto-racing-bulls 
  {
    flex-direction: column;
  }

  .imagen-piloto,
  .info-piloto {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .nombre-numero {
    flex-direction: column;
    align-items: flex-start;
  }

  .nombre-numero h2 {
    font-size: 22px;
  }

  .numero-redbull,
  .numero-mclaren,
  .numero-mercedes,
  .numero-ferrari,
  .numero-alpine,
  .numero-aston-martin,
  .numero-williams,
  .numero-sauber,
  .numero-haas,
  .numero-racing-bulls {
    font-size: 28px;
  }

  .descripcion {
    font-size: 14px;
  }

  /* Estadísticas */
  .estadisticas-contenedor {
    flex-direction: column;
  }

  .estadisticas,
  .estadisticas-redbull,
  .estadisticas-mclaren,
  .estadisticas-mercedes,
  .estadisticas-aston-martin,
  .estadisticas-alpine,
  .estadisticas-williams,
  .estadisticas-sauber,
  .estadisticas-haas,
  .estadisticas-racing-bulls {
    padding: 15px;
  }

  .estadisticas h3,
  .estadisticas-redbull h3,
  .estadisticas-mclaren h3,
  .estadisticas-mercedes h3,
  .estadisticas-aston-martin h3,
  .estadisticas-alpine h3,
  .estadisticas-williams h3,
  .estadisticas-sauber h3,
  .estadisticas-haas h3,
  .estadisticas-racing-bulls h3
  {
    font-size: 20px;
  }

  .estadisticas table,
  .estadisticas th,
  .estadisticas td {
    font-size: 14px;
  }

  /* Momentos destacados */
  .momentos-grid {
    flex-direction: column;
  }

  .momento,
  .momento-redbull,
  .momento-mclaren,
  .momento-mercedes,
  .momento-aston-martin,
  .momento-alpine,
  .momento-williams,
  .momento-sauber,
  .momento-haas,
  .momento-racing-bulls {
    flex: 1 1 100%;
  }

  /* Sidebar */
  .sidebar {
    width: 200px;
  }

  /* Footer */
  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .f1-footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-menu {
    justify-content: center;
    text-align: center;

  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-copy {
    font-size: 11px;
  }
}
